* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    font-family: Lucida, Bold Serif ;
    background-color: White;
    font-size: 25px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 97%;
    background-color:black;
    color: #fff;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    z index: 1000;
}

header a {
    color: MistyRose;
    margin-left: 20px;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

.Women {
    color: white;
    text-align: center;
    padding: 80px 20px;
}

.Women .btn {
    position: absolute;
    top: 95%;              
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 12px 25px;
    background: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.get button {
    padding: 12px 25px; 
    border: none;
    background-color: white;
    color: black;
    cursor: pointer;
    font-size: 16px;
}

.Products {
    padding: 40px;
    text-align: center;
}

.product-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.cards {
    display: flex;
    gap: 20px;
}

.card {
    background: white;
    padding: 15px;
    width: 250px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: transform 10s;
    font-size: 18px;
    text-decoration: none;
    color: black;
}

.card:hover{
    transform: translateY(-6px);
}

.card img {
    width: 95%;
    border-radius: 8px;
}

.display-frame{
    width: 100%;
    height: 450px;
    margin-top: 30px;
    border: 1px solid #ccc;
}
.about {
    background: white;
    padding: 40px;
    font-size:18px;
    text-align: center;
}

.logo span {
    color: #ff4d6d;
}

nav a {
    font-size: 15px;
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

nav input[type="text"] {
    padding: 7px;
    border: none;
    margin-top: 8px;
    margin-right: 18px;
    font-size: 13px;
}
.Women {
    text-align: center;
    padding: 20px 15px;
    background: white;
    
}

.Women h1 {
    font-size: 40px;
    margin-bottom: 10px;
}


.btn {
    display: inline-block;
    padding: 10px 15px;
    background: black;
    color: white;
    text-decoration: none;
    margin-top: 15px;
}

.dashboard {
    padding: 50px;
    text-align: center;
}

.dash-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    
}

.box {
    background: white;
    padding: 30px;
    width: 150px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    
}

.box a {
    text-decoration: none;
    color: black;
}


.Products {
    padding: 50px;
    text-align: center;
}

.product-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.card {
    background: white;
    padding: 20px;
    width: 200px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.cart-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background: #ff3f6c;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 50;
}

.about, .contact {
    padding: 60px;
    text-align: center;
}

.contact form {
    max-width: 400px;
    margin: auto;
}

.contact input, .contact textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

button {
    background: #ff4d6d;
    color: white;
    border: none;
    padding: 10px 20px;
}

.sidebar{
    width:150px;
    height:90%;
    position:fixed;
    bottom: 0;
    left: 0;
    top: 70px;
    padding-top: 20px;
    background-color: cornsilk;
    font-size: 20px;
    box-shadow: 2px 0 10px rgba(0,0,0,0.1);
}

.sidebar a{
    display: block;
    color: black;
    padding: 12px 25px;
    text-decoration: none;
    font-size: 21px;
}

a:hover{
    opacity: 0.8;  <!-- iframe hover effect-->
}

.more-btn {
    text-align: center;
    margin-top: 150px;
    font-size: medium;
}

.more-btn a {
    padding: 10px 18px;
    color: black;
    text-decoration: none;
    border-radius: 5px;
}
.more-btn a:hover {
    text-decoration: underline;
    color: black;
}

@media (max-width: 768px) {
    .product-grid {
        flex-direction: column;  
        align-items: center;
    }
}


.icon-bar {
    display: flex;
    justify-content: space-around;
    background: white;
    padding: 15px 0;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.icon-item {
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 14px;
}

.icon-item span {
    font-size: 24px;
    display: block;
    margin-bottom: 5px;
}

.icon-item p {
    margin: 0;
    font-weight: 500;
}

